html{
	position: relative;
}
h2,h3{
	color: #eee;
}
ul{
	margin-top: 40px;
	padding: 0px;
}
li{
	list-style-type: none;
	display: inline-block;
	margin-right: 100px;
}
li:last-child{
	margin-right: 0px;
}
a , a:hover , a:focus{
	text-decoration: none;
	color: #b40f60;
}
body{
	background-color: #151515;
}
.row{
	margin: 0px;
}
.container-fluid{
	padding:0px;
}
.header,.footer{
	background-color: #151515;
	text-align: center;
	z-index: 2;
}
.header{
	border-bottom: 1px solid #b40f60;
	position: absolute;
	left: 0;
	right: 0;
	height: 450px;
}
.footer{
	position: absolute;
	height: 5%;
	margin-top: 5%;
	border-top: 1px solid #b40f60;
	left: 0;
	right: 0;
	bottom: 0;
}
.footer-text{
	height: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
}
.main-pic{
	width: 20vw;
	height: 20vh;
	color: white;
	margin-top: 25px;
}
.description,p{
	margin-top: 10px;
	color: #eee;
	font-size:20px;
}
.back{
	background-color: #333;
	text-align: center;
	padding: 25px;
}
.section{
	background-color: #151515;
	border: 3px solid #b40f60;
	border-radius: 10px;
	height: 300px;
	margin-top: 30%;
	z-index: 3;
	text-align: center;
}
.section-res{
	margin-top: 0;
}
.section-res-2{
	margin-bottom: 10%;
}
.mid{
	margin-top:35px;
}
.badge{
	height: 10vh;
	width: 10vh;
}
.svg{
	height: 10vh;
	widows: 10vw;
}
.respect{
	font-size: 15px;
}
.btn-danger , .btn-danger:hover , .btn-danger:focus{
	margin-top: 15px;
	background-color:#b40f60;
	border-color: #b40f60;
}
.webgo{
	color: #b40f60;
}
.footer-text > p{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.content{
	position: relative;

}
